.country {
	stroke: white; 
}

.country:hover {
	fill-opacity: 0.5;
}

.d3-tip {
	border: 1px solid white;
	background: rgba(255,255,255,0.5);
	padding: 5px;
	color: #3A3A3A;
}

.news-tip {
	display: inline-block;
	position: absolute;
	left: 300px;
	top: 200px;
	font-size: 18px;
/*  pointer-events: none;*/
	opacity: 0.0;
}

.news-tip .tip-content {
	font-family: 'bebas_neueregular';
	font-size: 25px;
}

.news-tip .tip-content, .news-tip .tip-content-no-info {
	border: 1px solid #58BDD0;
	background: white;
	padding: 5px;
	color: #898989;
}

.arrow-down {
	margin-left: 45%;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #0868AC;
}

#count, #name {
	font-weight: bold;
	color: #58BDD0;
}

.tip-content-no-info {
	color: #ccc;
	font-size: 16px;
  display: none;
}

.tip-content-no-info > div {
	text-align: center;
}

.tip-content-no-info > .status {
	font-family: 'bebas_neueregular';
	font-size: 25px;
}

.tip-content-no-info > .action {
	color: #58BDD0;
}